@font-face {
    font-family: 'SANFRANCISCOTEXT-BOLD';
    src: url('../fonts2/SanFranciscoText-Bold.eot');
    src: url('../fonts2/SanFranciscoText-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts2/SanFranciscoText-Bold.woff2') format('woff2'),
    url('../fonts2/SanFranciscoText-Bold.woff') format('woff'),
    url('../fonts2/SanFranciscoText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SANFRANCISCOTEXT-SEMIBOLD';
    src: url('../fonts2/SanFranciscoText-Semibold.eot');
    src: url('../fonts2/SanFranciscoText-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts2/SanFranciscoText-Semibold.woff2') format('woff2'),
    url('../fonts2/SanFranciscoText-Semibold.woff') format('woff'),
    url('../fonts2/SanFranciscoText-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SANFRANCISCOTEXT-REGULAR';
    src: url('../fonts/SANFRANCISCOTEXT-REGULAR.OTF');
    //src: url('../fonts/SANFRANCISCOTEXT-REGULAR.eot');
    //src: url('../fonts/SANFRANCISCOTEXT-REGULAR.eot?#iefix') format('embedded-opentype'),
    //url('../fonts/SANFRANCISCOTEXT-REGULAR.woff2') format('woff2'),
    //url('../fonts/SANFRANCISCOTEXT-REGULAR.woff') format('woff'),
    //url('../fonts/SANFRANCISCOTEXT-REGULAR.ttf') format('truetype'),
    //url('../fonts/SANFRANCISCOTEXT-REGULAR.svg#Oppo-2019044a-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SANFRANCISCOTEXT-MEDIUMITALIC';
    src: url('../fonts/SANFRANCISCOTEXT-MEDIUMITALIC.OTF');
    //src: url('../fonts/SANFRANCISCOTEXT-REGULAR.eot');
    //src: url('../fonts/SANFRANCISCOTEXT-REGULAR.eot?#iefix') format('embedded-opentype'),
    //url('../fonts/SANFRANCISCOTEXT-REGULAR.woff2') format('woff2'),
    //url('../fonts/SANFRANCISCOTEXT-REGULAR.woff') format('woff'),
    //url('../fonts/SANFRANCISCOTEXT-REGULAR.ttf') format('truetype'),
    //url('../fonts/SANFRANCISCOTEXT-REGULAR.svg#Oppo-2019044a-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



